body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #93939f;
    color: #040303;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
}

.error-message {
    color: red;
    margin-top: 10px;
    text-align: center;
}
